label {
  color: lightskyblue;
  font-family: sans-serif;
  font-weight: bold;
  font-size: larger;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: whitesmoke;
  background-image: url(https://wallpaperaccess.com/full/1567666.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  padding: 0px;
  text-align: center;
  margin-top: 0;
}

.indbod {
  background-image: url(https://i.pinimg.com/originals/7f/7f/28/7f7f2882899755a705a2953b6fcfc263.gif);
}

.h2 {
  font-family: sans-serif;
  font-size: 20px;
}

form {
  background: rgba(22, 15, 15, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin: 50px 0px;
  padding: 0px;
  text-align: center;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 0px;
  padding-bottom: 5px;
  margin-top: 25px;
  padding: 5px;
}

table {
  margin-bottom: 25px;
  font-family: sans-serif;
  margin-top: 10px;
  background: red;
  animation: mymove 1s infinite;
  padding-top: 0px;
  width: 35%;
}

#pic1 {
  left: 0px;
  height: 350px;
  width: 350px;
  position: sticky;
  border-radius: 50%;
  border: 12px solid lightskyblue;
  margin-bottom: 15px;
  margin-top: 15px;
  background-color: transparent;
}

iframe {
  margin-bottom: 20px;
  border-radius: 25%;
  height: 185px;
  width: 185px;
}

table:hover {
  color: red;
}

[placeholder]:hover {
  color: red;
}

.pic2 {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: black;
}

@keyframes mymove {
  from {
    background-color: darkcyan;
  }
  to {
    background-color: black;
  }
}

button {
  margin-right: 15px;
}

button:hover {
  color: red;
}

input:hover {
  color: red;
}

.indexp {
  font-family: sans-serif;
  font-size: 25px;
  color: black;
  font-weight: bold;
  background-color: silver;
  padding-top: 0%;
  border-radius: 8px;
  padding: 20px;
}

th {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bolder;
  font-size: 30px;
}

table {
  border-color: lightskyblue;
  border-style: ridge;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #474e5d;
  font-family: Helvetica, sans-serif;
  background-position: center;
  background-repeat: no-repeat;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: silver;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: lightskyblue;
  border: 4px solid darkcyan;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid silver;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent silver;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid silver;
  border-width: 10px 10px 10px 0;
  border-color: transparent silver transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: silver;
  position: relative;
  border-radius: 6px;
  padding: 1px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.timeline {
  animation: ease-in;
  animation-duration: 5s;
}

.p1 {
  font-family: sans-serif;
  background-color: transparent;
  border: 0px;
  color: black;
  font-size: 16px;
}

h2 {
  font-family: sans-serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 45px;
}

#pot {
  bottom: 15%;
  position: initial;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 2s;
}

@-webkit-keyframes run {
  0% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }

  50% {
    left: 82%;
    -webkit-transform: rotateY(0deg);
  }

  51% {
    -webkit-transform: rotateY(180deg);
  }

  99% {
    left: 0;
    -webkit-transform: rotateY(180deg);
  }

  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}

.navbar {
  overflow: hidden;
  background-color: #333;
}



.navbar a {
  float: left;
  top: 0%;
  left: 0%;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.dropdown {
  position: fixed;
  left: 0;
  top: 0;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: transparent;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: skyblue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

h1:hover {
  color: silver;
}

a:hover {
  color: darkcyan;
}

.flip-card {
  background-color: transparent;
  width: 250px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: darkcyan;
  color: black;
  transform: rotateY(180deg);
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;
  row-gap: 60px;
  column-gap: 60px;
}

.grid-item {
  display: grid;
  margin: 10px;
}

p {
  font-size: large;
  padding-top: 30px;
}

/***** Slide Right *****/
.lefttoright {
  animation: 500ms slide-right;
}
@keyframes slide-right {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

/***** Slide Left *****/
.righttoleft {
  animation: 500ms slide-left;
}
@keyframes slide-left {
  from {
    margin-left: 100%;
  }
  to {
    margin-left: 0%;
  }
}

footer {
  position: relative;
  bottom: 0%;
  width: 100%;
  text-align: center;
  padding-top: 4px;
  color: honeydew;
  background-color: rgba(192, 192, 192, 0.3);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-facebook {
  background: #3b5998;
  color: white;
  display: inline-block;
}

.fa {
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

@media screen and (max-width: 480px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 100px;
    margin-top: 230px;
  }

  .grid-item {
    text-align: center;
  }

  #pic1 {
    height: 225px;
    width: 225px;
    margin-top: 135px;
   
  }

 .timeline {

  margin-top: 245px;

 }

 .navbar {
   position: sticky;
 }


 form {

  margin-top: 245px;
 }

}
