label {
    color:hotpink;
    font-family: sans-serif;
    font-weight: bold;
    font-size: larger;
}


body {
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: whitesmoke;
    background-image: url(https://images.unsplash.com/photo-1633249422795-1f3e5fe0a843?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin:50px 0px; padding:0px;
    text-align:center;
    margin-top: 0;
   
    }

    h1{
        color:black;
        margin-bottom: 250px;
        background-color:hotpink;
    }

    form{
        background: rgba( 22, 15, 15, 0.85 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );margin:50px 0px; padding:0px;
text-align:center;
margin-left: 35%;
margin-right: 35%;
padding-top: 5px;
padding-bottom: 5px;
margin-top: 25px;
padding: 5px

    }

    table{
        margin-bottom: 25px;
        font-family: sans-serif;
        margin-top: 10px;
        background: red;
  animation: mymove 1s infinite;
  padding-top: 0px;
  width: 35%;

   
    }

    #pic1{
        height: 325px;
        position: center;
        margin-bottom: 15px;
    }


    ul{
        padding:20px ;
        top: 0;
        left: 35%;
        right: 0;
    }

    *{
        box-sizing: border-box;
        padding: 0;
        margin: 0;

        
    }

    iframe{
        padding-bottom: 25px;
    }

    li{
        display:inline-block;
        padding: 20px;
    

    }

    a{

        text-decoration: none;
        color: rgb(42, 50, 95);
        font-family: sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
        text-shadow:black;
        font-family: sans-serif;
    font-weight: bold;
    font-size: larger;

    }
        
    a:hover{
        color:red;

    }

    table:hover{
        color:red;
    }
    nav{
        margin-top: 0;
        position: sticky;
        font-size: 18px;


    }
    [placeholder]:hover {color:red;

    }

    .pic2{
        padding-bottom: 25px;
        width: 650px;
        height: 550px;
        padding-top: 25px;
    }

    @keyframes mymove {
        from {background-color:red;}        
        to {background-color:white}
      }

      button{
          margin-right: 15px;
      }
      
      button:hover {
          color:red
      }

      input:hover{
          color:red
      }

      p {
          font-family: sans-serif;
          font-weight: bold;
          font-style: italic;
          font-size: 16px;
      }